@model Ejercicio2.Models.Plan
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <h5>Crear Asignatura</h5>
        @using (Html.BeginForm("Guardar", "Ejercicio2", FormMethod.Post))
        {
            <div class="form-group">
                <input type="text" hidden="" name="id" id="codigo" value="" />
                <label for="exampleInputEmail1">Codigo</label>
                @Html.TextBoxFor(x => x.codigo, new { @class = "form-control", id = "codigo" })

            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">asignatura</label>
                @Html.TextBoxFor(x => x.asignatura, new { @class = "form-control", id = "asignatura" })
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">ht</label>
                @Html.TextBoxFor(x => x.ht, new { @class = "form-control", id = "ht" })
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">hp</label>
                @Html.TextBoxFor(x => x.hp, new { @class = "form-control", id = "hp" })
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">creditos</label>
                @Html.TextBoxFor(x => x.creditos, new { @class = "form-control", id = "creditos" })
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">pre_requisito</label>
                @Html.TextBoxFor(x => x.pre_requisito, new { @class = "form-control", id = "pre_requisito" })
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
        }
    </div>
</body>
</html>
